.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

input {
    outline: 0;
    background-color: rgb(196 196 196 / 0.31);
    padding-left: 16px;
    font-size: 18px;
    line-height: 28px;
    outline: none;
}

input:focus {
    background-color: rgb(196 196 196 / 0.50);
}

textarea:focus {
    outline:none;
}

.templete {
    background : linear-gradient(to bottom, #454545 0%, rgba(106,106,106,0.93) 51.04%, rgba(33,33,33,0.97) 100%);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-toolbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color:none;
}

.custom-toolbar::-webkit-scrollbar-thumb {
    background: #ff9900;
}

@font-face{
    font-family :'Mina-Bold';
    src : local('Mina'),
    url('./font/Mina/Mina-Bold.ttf');
    unicode-range: U+0020-007E;
}

@font-face{
    font-family :'RecipeKorea';
    src : local('RecipeKorea'),
    url('./font/RecipeKorea/RecipeKorea.ttf');
    unicode-range: U+AC00-D7A3;
}

*{
    font-family : 'Mina-Bold', 'RecipeKorea';
}